.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.slideshow-elements {
}
.slideshow-element {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
}
.slideshow-element.current {
  transform: translate(-50%, -50%) scale(1);
}
.slideshow-element i {
  font-size: 50px;
}
.slideshow-element h2 {
  font-size: 50px;
  margin: 0;
}
